.pokemon-card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #eee;
    border: 1px solid #5d5d5d;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
    border-top: 5px solid violet;
    border-bottom: 3px solid violet;
}